* {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-family: 'Poppins';
}

.navbar {
    height: 100px;
    position: sticky;
    display: flex;
    font-size: 1.2rem;
    top: 0;
    width: 100%;
    transition: 100ms ease-in;
    z-index: 999;
}

.navbar.active {
    height: 64px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}

.navbar.active #navbar__logo {
    color: rgb(28, 109, 129);
    font-size: 2rem;
}

.navbar.active .navbar__links {
    color: rgb(28, 109, 129);
    font-size: 1.1rem;
}

.navbar.active .navbar__btn {
    font-size: 1.1rem;
}

.nav__container {
    display: flex;
    justify-content: space-around;
    height: 100px;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    width: 98%;
    background: none;
}

#navbar__logo {
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2.3rem;
    font-weight: 600;
}

.navbar__menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar__item {
    height: 64px;
}

.navbar__links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    height: 100%;
    transition: 200ms ease-in;
    margin: 0 15px;
}

.navbar__links:before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 17px;
    margin-bottom: 10px;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar__links:hover:before {
    display: flex;
    justify-content: center;
    visibility: visible;
    width: 73%;
}

.navbar.active .navbar__links:before {
    content: "";
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 17px;
    margin-bottom: 13px;
    background-color:rgb(28, 109, 129);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.navbar.active .navbar__links:hover:before {
    display: flex;
    justify-content: center;
    visibility: visible;
    width: 73%;
}

.navbar__btn { 
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 100%;
    padding: 5px 17px;
}

.nav__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    text-decoration: none;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: #F2AC42;
    color: white;
    transition: 200ms ease-in;
}

.nav__button:hover {
    background-color: #fdd18e;
}


/* SCROLL TO TOP */

.scroll__top { 
    position: fixed;
    bottom: 400px;
    right: 40px;
    width: 60px;
    height: 60px;
    background: url(../images/arrow__up.png);
    background-color:rgb(28, 109, 129);
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 500ms ease-in;
}

.scroll__top.active {
    bottom: 40px;
    visibility: visible;
    opacity: 1;
}

/* MAIN SECTION */

.hero__section {
    height: 100vh;
    width: 100%;
    background-image: url(../images/hero__background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: rgb(255, 255, 255);
    background-blend-mode: multiply;
    margin-top: -100px;
}

.hero__title {
    width: 77%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.hero__header {
    margin-top: 21vh;
}

.hero__header > h1 {
    letter-spacing: 1px;
    color: #fcfcfc;
    font-size: 5rem;
    font-weight: 400;
    width: 50%;
    line-height: 1.2;
}

.hero__way {
    font-family: 'Segoe Script';
    font-weight: bold;
    font-size: 4.5rem;
}

.hero__header > p {
    color: #fcfcfc;
    margin-top: 25px;
    font-size: 1.6rem;
    margin-bottom: 75px;
}

.hero__header > a {
    padding: 8px 25px;
    color: #fcfcfc;
    background-color: #ffa500;
    outline: none;
    border: none;
    font-size: 1.3rem;
    transition: 200ms ease-in;
    text-decoration: none;
}

.hero__header > a:hover {
    background-color: #fdd18e;
    cursor: pointer;
}

.hero__startSearching {
    padding: 15px;
    background-color:rgb(28, 109, 129, 0.7);
    display: flex;
    justify-content: center;
    width: 17%;
    position: absolute;
    top: 71%;
    right: calc(12.5%);
    align-items: center;
    transition: 500ms ease-in-out;
    transform: translateX(20%);
    transition-delay: 5s;
}

.hero__startSearching:hover {
    cursor: pointer;
} 

.hero__startSearching > p {
    color: white;
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
}

.fa-chevron-right {
    margin-left: 30px;
    color: #ffa500;
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
}

.hero__startSearching:hover > p {
    margin-right: 30px;
    transition: 200ms ease-in-out;
} 

.hero__startSearching:hover > .fa-arrow-right {
    margin-right: -15px;
    font-size: 2rem;
} 

.fa-chevron-down {
    color: white;
    font-size: 4rem;
    position: absolute;
    left: calc(11.4%);
    margin-top: 6.5%;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/* EXPLORE SECTION */

.explore__section {
    padding-top: 12%;
    width: 60%;
    display: grid;
    grid-template-columns: 55% 40%;
    margin: -5% auto 3% auto;
}

.explore__images {
    display: flex;
}

.explore__image {
    width: 65%;
    height: 65%;
    object-fit: contain;
    transform: translateX(-10%);
}

.explore__altimage {
    margin-top: 25%;
    margin-left: -25%;
    width: 55%;
    height: 55%;
    object-fit: contain;
    transform: translateX(-10%);
}

.explore__text {
    display: flex;
    flex-direction: column;
}

.explore__text > h2 {
    color: #447E78;
    font-size: 2rem;
    margin-top: 10%;
    font-weight: 500;
}

.explore__text > p {
    color: #7DACA8;
    font-size: 1rem;
    margin-top: 20px;
}

.explore__text > button {
    outline: none;
    border: none;
    background-color: orange;
    color: white;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 20%;
    width: 35%;
    padding: 8px 20px;
    transition: 500ms ease-in;
    transform: translateX(20%);
    transition-delay: 0.3s;
}

.explore__text > button:hover {
    background-color: #fdd18e;
    cursor: pointer;
}

.fa-search {
    margin-right: 20px;
    font-size: 1.1rem;
}

/* STATS SECTION */

.stats__background {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 15vh;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}

.stats__section {
    display: flex;
    justify-content: space-around;
    width: 60%;
    align-items: center;
    margin: 0 auto;
}

.stat__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stat__section > h1 {
    font-size: 3rem;
    font-weight: 600;
    color: #7DACA8;
}

.stat__section > p {
    margin-top: 5px;
    color: #7DACA8;
    font-size: 1.1rem;
}

/* ABOUT SECTION */

.about {
    display: grid;
    grid-template-columns: 55% 40%;
    width: 65%;
    margin: 125px auto 0 auto;
}

.about__text {
    transform: translateX(-10%);
}

.about__text > h1 {
    margin-top: -20px;
    font-size: 2.6rem;
    font-weight: 500;
    color: #447E78;
}

.about__text > p {
    font-size: 1rem;
    color: #447E78;
    margin-top: 10px;
}

.about__text .fa-chevron-right {
    display: flex;
    justify-content: right;
    font-size: 2.5rem;
    margin-top: 15%;
    visibility: hidden;
}

.about__image {
    transform: translateX(10%);
    background-image: url(../images/right__trip__away.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 20%;
}

/* DESTINATIONS SECTION */

.destinations__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
}

.destinations__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.destinations__header > h1 {
    font-size: 4rem;
    font-weight: 500;
    color: #447E78;
}

.destinations__header > p {
    margin-top: 5px;
    font-size: 1rem;
    color: #447E78;
}

.destination__cards {
    display: grid;
    width : 55%;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: 200px;
    margin-top: 125px;
}

.destination__container {
    height: 45vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    transform: translateY(10%);
}

.destination__container:nth-child(2) {
    transition-delay: 0.3s;
}

.destination__container:nth-child(3) {
    transition-delay: 0.6s;
}

.destination__container:nth-child(5) {
    transition-delay: 0.3s;
}

.destination__image {
    height: 45vh;
    transition: 200ms ease-in;
}

.destination__container:hover .destination__image {
    transform: scale(1.1);
}


.destination__container:hover .destination__header > h1 {
    text-decoration: underline;
}

.destination__text {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1.5rem;
    left: 1rem;
    color: white;
}

.destination__text .destination__views {
    display: flex;
}

.destination__views {
    align-items: center;
}

.destination__views .fa-eye {
    margin-right: 10px;
}
.destination__header {
    display: flex;
    align-items: center;
}

.destination__header .fa-chevron-right {
    font-size: 1.5rem;
}

.destination__header > h1 {
    font-size: 2rem;
    font-weight: 400;
}

.destinations__more {
    display: flex;
    justify-content: right;
    margin-top: -4%;
    margin-right: 23%;
}

.destinations__more > p {
    color: #447E78;
}

/* DISCOVER SECTION */

.discover__section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.discover__container { 
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 125px;
    overflow: hidden;
    transform: translateY(10%);
}

.discover__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #447E78;
}

.discover__header > h1 {
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 1.2;
}

.discover__header > p {
    font-size: 1rem;
    margin-top: 15px;
}

.discover__card {
    overflow: hidden;
    display: block;
    max-width: 400px;
    max-height: 500px;
    transition: 200ms ease-in;
}

.discover__card-header {
    position: absolute;
    display: block;
    top: 2rem;
    left: 2rem;
    color: #fcfcfc;
}

.discover__img {
    transition: 200ms ease-in;
    display: block;
    background-position: center;
}

.discover__img:hover {
    transform: scale(1.1);
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

/* NEWSLETTER */

.newsletter__section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter__container {
    background: rgba(0, 128, 128, 0.397);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 200px auto 175px auto;
    width: 42%;
}

.newsletter__header {
    display: flex;
    transform: translateX(-10%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    color: #fcfcfc;
    margin-bottom: 35px;
}

.newsletter__header > h1 {

    font-weight: 500;
    font-size: 2.5rem;
}

.newsletter__header > p {
    margin-top: 5px;
    font-size: .8rem;
}

.newsletter__input {
    transform: translateX(10%);
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.5);
    width: 85%;
    height: 65px;
    margin-bottom: 60px;
}

.newsletter__input > input {
    background: none;
    outline: none;
    border: none;
    width: 70%;
    padding: 5px;
    font-size: 1rem;
    opacity: 0.7;
    margin-left: 25px;
}

.newsletter__input > button {
    position: relative;
    background-color: orange;
    font-size: 1rem;
    color: white;
    outline: none;
    border: none;
    padding: 7px 23px;
    margin-right: 15px;
    margin-left: auto;
}

.newsletter__input > button::after {
    position: absolute;
    color: #fcfcfc;
    content: "";                
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .35s;
    background: #fdd18e;
}

.newsletter__input > button:hover {
    color: #fcfcfc;
}

.newsletter__input > button:hover:after {
    width: 100%;
}

/* SPONSOR SECTION */

.sponsor__section {
    display: flex;
}

.sponsor__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.sponsor__container > img {
    filter: grayscale(100);
    width: 15%;
    opacity: .1;
    transition: 200ms ease-in;
}

.sponsor__container > img:hover {
    opacity: .2;
}

/* FOOTER SECTION */

.footer__section {
    display: flex;
    flex-direction: column;
    background-color: rgb(68,126,120, 0.75);
    margin-top: 100px;
    
}

.footer__container {
    display: flex;
    justify-content: space-between;
    width: 53%;
    margin: 75px auto 125px auto;
    color: #fcfcfc;
    text-decoration: none;
    list-style: none;
    transform: translateY(10%);
}

.footer__logo {
    display: block;
}

.footer__logo > h2 {
    font-weight: 600;
    font-size: 1.3rem;
}

.footer__logo > p {
    font-size: 1rem;
    margin-top: 7px;
}

.footer__icons {
    margin-top: 10px;
    font-size: 1.6rem;
}

.icon {
    margin-right: 8px;
}

.icon:hover {
    cursor: pointer;
}

.footer__about {
    list-style: none;
}

.footer__career {
    list-style: none;
}

.footer__support {
    list-style: none;
}   

.footer__section > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    opacity: 0.8;
    margin-bottom: 60px;
}

.footer__section > p:hover {
    opacity: 1;
}

/* MEDIA QUERIES - MOBILE */

@media screen and (max-width: 768px) {
    
    /* NAVBAR */

    .nav__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        z-index: 1;
        width: 100%;
    }

    #navbar__logo {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        padding-left: 53px;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        position: absolute;
        top: -1000px;
        left: 5%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background-color:rgb(28, 109, 129, 0.9);
        top: 0;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    .navbar__menu.active #navbar__logo {
        font-size: 1rem;
    }

    .navbar__menu.active .navbar__toggle .bar {
        background:rgb(28, 109, 129);
        z-index: 999;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    } 

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 8%;
        transform: translate(5%, 20%);
        z-index: 999;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* SCROLL TOP*/

    .scroll__top { 
        position: fixed;
        bottom: 400px;
        right: 20px;
        width: 50px;
        height: 50px;
        background: url(../images/arrow__up.png);
        background-color:rgb(28, 109, 129);
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: 500ms ease-in;
    }
    
    .scroll__top.active {
        bottom: 20px;
        visibility: visible;
        opacity: 1;
    }

    /* MAIN SECTION */

    .hero__section {
        width: 100%;
        background-size: cover;
    }
    
    .hero__title {
        width: 78%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .hero__header > h1 {
        font-size: 2.3rem;
        width: 100%;
        line-height: 3.5rem;
    }
    
    .hero__way {
        font-size: 3rem;
    }
    
    .hero__header > p {
        margin-top: 20px;
        font-size: 1rem;
        margin-bottom: 75px;
    }
    
    .hero__header > a {
        padding: 5px 18px;
        color: #fcfcfc;
        background-color: #ffa500;
        outline: none;
        border: none;
        font-size: 1.1rem;
        text-decoration: none;
    }

    .hero__startSearching {
        display: none;
    }

    .fa-chevron-down {
        color: white;
        font-size: 3.5rem;
        position: absolute;
        left: calc(10%);
        margin-top: 30%;
        animation: bounce 2s infinite;
    }

    /* EXPLORE SECTION */

    /* STATS */

    .stat__section > h1 {
        font-size: 1rem;
    }
    
    .stat__section > p {
        font-size: 0.8rem;
    }

    /* ABOUT */

    /* DESTINATIONS */

    .destinations__header > h1 {
        font-size: 2.7rem;
        margin-right: 20px;
        margin-left: 20px;
    }
    
    .destinations__header > p {
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;
        font-size: .9rem;
    }

    /* DISCOVER */

    /* NEWSLETTER */

    /* SPONSORS */
    
    /* FOOTER */

    .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}

/* FADE IN ANIMATIONS CSS */

.from-left {
    animation: fadeLeft no-repeat;
}

.from-right {
    animation: fadeRight no-repeat;
}

.from-up {
    animation: fadeUp no-repeat;
}

.from-down {
    transform: translateY(-10%);
}

.from-left,
.from-right {
    transition: opacity 1s ease-in, transform 1s ease-in;
    opacity: 0;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
    opacity: 1;
}

.from-up,
.from-down {
    transition: opacity 1s ease-in, transform 1s ease-in;
    opacity: 0;
}

.from-up.appear,
.from-down.appear {
    transform: translateY(0);
    opacity: 1;
}

@keyframes fadeLeft {
    40% {
        transform: translateX(-7%);
    }
    60% {
        transform: translateX(-3%);
    }
}

@keyframes fadeRight {
    40% {
        transform: translateX(13%);
    }
    60% {
        transform: translateX(6%);
    }
}

@keyframes fadeUp {
    40% {
        transform: translateY(7%)
    }
    60% {
        transform: translateY(3%)
    }
}