.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    width: 100%;
    height: 5rem;
    transition: 200ms;
    z-index: 99;
    .nav__container {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #navbar__logo {
            text-decoration: none;
            color: white;
            z-index: 99;
            font-size: 1.6rem;
            font-weight: 600;
            text-transform: uppercase;
        }
        .nav__toggle {
            margin-top: .65rem;
            color: white;
            font-size: 2.1rem;
            &:hover {
                cursor: pointer;
            }
        }
        .navbar__menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: -1000px;
            top: 0;
            width: 30%;
            opacity: 1;
            transition: all 0.5s ease;
            list-style: none;
            z-index: 99;
            height: 100vh;
            font-size: 1.6rem;
            padding-top: 3.5rem;
            padding-left: 3rem;
            .nav__close {
                position: absolute;
                top: 0;
                right: .3rem;
                color: white;
                padding: 1.5rem;
                font-size: 2.5rem;
                &:hover {
                    cursor: pointer;
                }
            }
            .navbar__item {
                display: flex;
                align-items: center;
                background: none;
                transition: 100ms;
                margin: 1.25rem 0;
                .navbar__links {
                    text-transform: uppercase;
                    
                    font-size: 1rem;
                    color: white;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
            .contact {
                margin-top: 15rem;
                li {
                    margin: 1rem 0;
                    a {
                        font-size: 0.95rem;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
        .navbar__menu.active {
            display: flex;
            flex-direction: column;
            position: absolute;
            background-color: rgb(202, 145, 39);
            top: 0;
            width: 60%;
            list-style: none;
            right: 0;
            opacity: 1;
            transition: all 0.5s ease;
            z-index: 99;
            height: 100vh;
            font-size: 1.6rem;
            padding-top: 3.5rem;
            padding-left: 3rem;
            border-left: 1px solid rgb(252, 204, 116);
            .nav__close {
                position: absolute;
                top: 0;
                right: .4rem;
                color: white;
                padding: 1rem;
                font-size: 2.5rem;
            }
            .navbar__item {
                display: flex;
                align-items: center;
                background: none;
                transition: 100ms;
                margin: 1.25rem 0;
                .navbar__links {
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: white;
                    &:hover {
                        opacity: 0.8;
                        cursor: pointer;
                    }
                }
            }
            .contact {
                margin-top: 15rem;
                li {
                    
                    a {
                        font-size: 0.95rem;
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}

.navbar.active {
    height: 4rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, .1);
}
.navbar.active #navbar__logo {
    color: $mainTextColour;
}

.navbar.active .nav__toggle {
    color: $mainTextColour;
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 7rem;
        display: flex;
        .nav__container {

            #navbar__logo {
                font-size: 2rem;
            }
            .nav__toggle {
                display: none;
            }
            .navbar__menu {
                display: flex;
                flex-direction: row;
                background: none;
                position: static;
                margin-left: auto;
                transition: 0;
                border: none;
                z-index: 0;
                top:0;
                right: 0;
                width: 100%;
                height: 3rem;
                padding: 0;
                .nav__close {
                    display: none;
                }
                .navbar__links {
                    text-decoration: none;
                }
                .contact {
                    display: none;
                }
            }
        }
    }
}

.navbar.active .navbar__menu {
    color: $mainTextColour;
}

@media screen and (min-width: 1312px) {
    
}