.sponsor__section {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    .sponsor__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        img {
            filter: grayscale(100);
            margin: 1rem 1rem;
            width: 5rem;
            opacity: .1;
            &:hover {
                opacity: .07;
            }
        }
    }
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1312px) {
    .sponsor__section {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 6.5rem auto;
        .sponsor__container {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            img {
                width: 17%;
                margin: 0 2.5rem;
            }
        }
    }
}